<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeye.icmsjava.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.yeye.icmsjava.model.User">
            <id property="userId" column="user_id" />
            <result property="username" column="username" />
            <result property="password" column="password" />
            <result property="role" column="role" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
            <result property="faceEmbedding" column="face_embedding" />
            <result property="sourceImageUrl" column="source_image_url" />
    </resultMap>

    <sql id="Base_Column_List">
        user_id,username,password,role,created_at,updated_at,
        face_embedding,source_image_url
    </sql>
</mapper>
